:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0 auto;
  background: #f1f3f5;
}

dialog {
  border-radius: 4px;
  border-color: #999;
}

.app-form {
  padding: 16px 32px;
  .item {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    &:last-child {
      margin-bottom: 0;
    }
    > * {
      margin-right: 12px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  label {
    font-size: 14px;
    font-weight: 500;
  }

  input {
    flex: auto;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  button {
    cursor: pointer;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    text-indent: 3px;
    letter-spacing: 3px;
    &:active {
      background-color: rgba(255, 255, 255, 0.5);
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    }
  }
}
